.message-info {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 10px;
    padding: 0 15px;
    background: #eee;
    border: 1px solid #ddd;
    background:#10c136;
    font-size:20px;
    color:#ffffff;
    width:250px;
    text-align: center;
    padding:0px;
    border-radius: 10px 10px 0px 0px;
}
.message-box {
    font-family: 'Open Sans', sans-serif;
    display: none;
    position: fixed;
    z-index: 99;
    bottom: 5px;
    right: 15px;
    width: 30%;
    background: #eee;
    border: 1px solid #ddd;
    background:#fd2929c9;
}
.message-head {
    /*border-bottom: 1px solid #ccc;*/
    margin: 0 5px;
    text-align: right;
}
.message-head i, .message-info i {
    padding: 3px;
    cursor: pointer;
    color:#ffffff;
}
.message-head i:hover, .message-info i:hover {
    color: #e86e59;
}
.message-scroll {
    max-height: 400px;
    overflow: auto;
    padding: 20px 15px 5px;
    background:#ffffff;
    margin: 5px 8px 0px 8px;
    color:#000000;
    border-radius:5px;
}
.footer-container {
    margin: 8px;
    position: relative;
}
.footer-container textarea {
    width: 100%;
    padding: 0 30px 0 8px;
}
.footer-container input {
    position: absolute;
    top: 10px;
    right: 8px;
}
.chat-bubble {
    clear: both;
    margin-bottom: 8px;
    padding: 0 8px;
    border-radius: 4px;
    position: relative;
}
.msg-right {
    float: right;
    border-radius: 4px 0 4px 4px;
    background: #eed;
}
.msg-right:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 13px 15px 0 0;
    border-color: #eed transparent;
    display: block;
    width: 0;
    z-index: 1;
    right: -15px;
    top: 0;
}
.msg-left {
    border-radius: 0 4px 4px 4px;
    float: left;
    background: #dee;
}
.msg-left:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 13px 0 0 15px;
    border-color: #dee transparent;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 0;
}

.msg-sys {
    text-align: center;
}
.message-user {
    color:#ea2d44;
}
.msg-right .message-user, .msg-sys .message-user {
    display: none;
}
.messages-time {
    float: right;
    margin: 9px 0 0 12px;
    font: italic .7em arial;
    color: #e86e59;
}
.msg-sys .messages-time{
    float: none;
}
.msg-sys .messages-time:before {
    content: '@';
}
.message-anim {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 30px;
    background: rgba(9,9,9,0.5);
}
.message-anim i {
    color: #dfe;
}

.arrow-up{
  float: right;
  margin-top:5px;
}
.icon-balon{
  float: left;
  background:#00b327;
  padding:10px;
  border-radius: 10px 0px 0px 0px;
}

.index-pesan{
  float: left;
  width:180px;
  margin-top:7px;
}
