/*!
 * Author: Lalang Gumirang
 */

 /* Template-specific stuff
  *
  * Customizations just for the template; these are not necessary for anything
  * with disabling the responsiveness.
  */

 /* Account for fixed navbar */

 /*@font-face {
    font-family: "MyriadPro";
    src: url('../../assets/fonts/Myriad-Web-Pro_31664.TTF');
    }*/

 body,
 .navbar-fixed-top,
 .navbar-fixed-bottom {
   min-width: 970px;
	background:#ffffff;
	margin: 0px;
	color: #111111;
	font-family: verdana;
	font-size: 11px;
  /*font-family: "MyriadPro";*/
}

/*s: search*/
.img-src{
  height: 30px;
  width: auto;
  overflow: hidden;
}
.img-con{
  /*height: 50px;*/
  padding:5px;
  border-bottom : 1px solid #dddddd;
}

.img-con:hover{
  background: #fbfafa;
  cursor:pointer;
}

.search-name{
  font-size: 12px;
  color: #666;
  font-family: 'arial';
}

#productSrc{
  position: absolute;
  z-index:289;
  background:#ffffff;
  width:87%;
}

#title_top{
  display: none;
  background:#f5f5f5;
  padding:5px;
  font-weight: bold;
  margin-bottom:5px;
}

#title_list{
  display: none;
  background:#f5f5f5;
  padding:5px;
  font-weight: bold;
  margin-bottom:5px;
}

/*e: search*/



.list-item{
  color:#111111;
}

.list-item:hover{
  color:#e30c0c;
}

.list-item:active{
  color:#e30c0c;
}

/*s: Sidebar product*/
.menu_list {
    width: 100%;
}
.menu_head {
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    margin:1px;
	margin-bottom:20px;
    font-weight:bold;
    background: url(plus.png) center right no-repeat;
	border-bottom:1px solid #dddddd;
}
.menu_body {
    display:none;
}

.plus{
 background-image: url(../../images/general/math-add-icon.png);
}

.minus {
 background-image: url(../../images/general/math-minus-icon.png);
}

/*e: Sidebar product*/

.btn-back{
  color:#111111;
  font-size:11px;
  font-weight:bold;
}

.btn-back:hover{
  color:#e61616;
  text-decoration: none;
}

.btn-back:active{
  color:#e61616;
  text-decoration: none;
}

.btn-edit{
  color:#111111;
  font-size:11px;
  font-weight:bold;
}

.btn-edit:hover{
  color:#e61616;
  text-decoration: none;
}

.btn-edit:active{
  color:#e61616;
  text-decoration: none;
}

.btn-add{
  color:#111111;
  font-size:11px;
  font-weight:bold;
}

.btn-add:hover{
  color:#e61616;
  text-decoration: none;
}

.btn-add:active{
  color:#e61616;
  text-decoration: none;
}

.my-container{
    width:912px;
    margin:0 auto;
}

.my-paging{
  margin-top:20px;
  padding: 10px;
  text-align:center;
  font-size:12px;
  background:#f6f3f3;
}

.my-paging-list{
  padding: 10px;
  margin:5px;
  color:#c62f2f;
  cursor: pointer;
}

.my-paging-list:hover{
  text-decoration: none;
  background:#dad8d8;
  color:#111111;
  border-radius:80px;
  padding: 5px 10px 5px 10px;
}

.my-paging-list-on{
  background:#ffffff;
  border-radius:80px;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  cursor: default;
}

.my-paging-btn{
  margin:5px;
  color:#c62f2f;
  cursor: pointer;
}
.my-paging-off{
  margin:5px;
  cursor: default;
}
/*.my-paging-btn:link{
  color:#111111;
  text-decoration: none;
}*/
.my-paging-btn:hover{
  text-decoration: none;
  color:#111111;
}
/*@media (min-width: 1280px) {
    .container{
        max-width: 812px;

        background:#111111;
    }
}*/

/*s: Product*/

.price {
    font-size: 18px;
    color: #8a0202;
}

.price2 {
    font-size: 20px;
    color: #8a0202;
}

.tmp-product{
  border:1px solid #dddddd;
  padding:10px 5px 10px 5px;
  margin-bottom:10px;
  text-align:center;
  /*width:200px;*/
  /*float: left;*/
}

.tmp-product img{
  width:70%;
}

.nm-product-detail{
   height:70px;
   font-size: 13px;
   color: #4b4b4b;
   text-align:center;
}

.nm-product-detail a{
   color: #4b4b4b;
   text-decoration: none;
}

.nm-product-detail a:hover{
   color: #b1adad;
   text-decoration: none;
}

.tmp-product:hover{
  /*background-color: #f9f9f9;*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/*harga produk*/
.rp-min{
  font-size: 13px;
  font-weight: bold;
}

.h-product{
  text-align: left;
  color: #51cffd
}

.nm_product{
  text-align: left; color: #716e7f; height:50px
}

.ratings{
  text-align: left; color:#d98c13;
}

/*head*/
.my-head{
    width:100%;
}

.my-hdr1{
  margin-left:10px;
  width:10%; float:left;
}

.my-hdr2{
  width:73%; float:left;
}

.my-hdr3{
  width:14%; float:left; text-align:right; padding:5px;
}

.productSrc
{
  width:1200px;
}

.link-head{
  margin-left:298px
}

@media screen and (max-width: 1680px) {

  #productSrc
  {
    width:1010px;
  }

  .link-head{
    margin-left:275px
  }

  .my-hdr1{
    margin-left:10px;
    width:10%; float:left;
  }

  .my-hdr2{
    width:72%; float:left;
  }

  .my-hdr3{
    width:16%; float:left; text-align:right; padding:5px;
  }
}

@media screen and (max-width: 1600px) {

  #productSrc
  {
    width:955px;
  }

  .link-head{
    margin-left:266px
  }

  .my-hdr1{
    margin-left:10px;
    width:10%; float:left;
  }

  .my-hdr2{
    width:72%; float:left;
  }

  .my-hdr3{
    width:16%; float:left; text-align:right; padding:5px;
  }

}

@media screen and (max-width: 1440px) {
  .my-hdr1{
    margin-left:10px;
    width:11%; float:left;
  }

  .my-hdr2{
    width:67%; float:left;
  }

  .my-hdr3{
    width:20%; float:left; text-align:right;
  }

  #productSrc
  {
    width:810px;
  }

  .link-head{
    margin-left:265px
  }

  .my-hdr1{
    margin-left:10px;
    width:10%; float:left;
  }

  .my-hdr2{
    width:70%; float:left;
  }

  .my-hdr3{
    width:18%; float:left; text-align:right; padding:5px;
  }

}

@media screen and (max-width: 1400px) {
  #productSrc
  {
    width:782px;
  }

  .link-head{
    margin-left:263px
  }

  .my-hdr1{
    margin-left:10px;
    width:10%; float:left;
  }

  .my-hdr2{
    width:70%; float:left;
  }

  .my-hdr3{
    width:18%; float:left; text-align:right; padding:5px;
  }
}

@media screen and (max-width: 1366px) {
  #productSrc
  {
    width:730px;
  }

  .link-head{
    margin-left:261px
  }

  .my-hdr1{
    margin-left:10px;
    width:12%; float:left;
  }

  .my-hdr2{
    width:68%; float:left;
  }

  .my-hdr3{
    width:18%; float:left; text-align:right; padding:5px;
  }
}

@media screen and (max-width: 1360px) {
  #productSrc
  {
    width:725px;
  }

  .my-hdr1{
    margin-left:10px;
    width:12%; float:left;
  }

  .my-hdr2{
    width:68%; float:left;
  }

  .my-hdr3{
    width:18%; float:left; text-align:right; padding:5px;
  }
}

@media screen and (max-width: 1280px) {
  .link-head{
    margin-left:275px
  }

  .my-hdr1{
    margin-left:10px;
    width:13%; float:left;
  }

  .my-hdr2{
    width:65%; float:left;
  }

  .my-hdr3{
    width:20%; float:left; text-align:right;
  }

  /*Serach product*/
  #productSrc
  {
    width:635px;
  }
}

@media screen and (max-width: 1240px) {
  .my-hdr1{
    margin-left:10px;
    width:13%; float:left;
  }

  .my-hdr2{
    width:65%; float:left;
  }

  .my-hdr3{
    width:20%; float:left; text-align:right;
  }

  /*Serach product*/
  #productSrc
  {
    width:420px;
  }

  .link-head{
    margin-left:275px
  }
}

/*Nav*/

.my-nav{
  clear:both;
}
/*
.navbar-inverse .navbar-nav > li > a
{
  color:#ffffff;
  font-weight: bold;
  font-family: verdana;
  display: inline-block;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus
{
  color:#ffffff;
  background-color: #b10707;
}*/


/*.nav-show-desktop{
  width: 125px;
}*/
/*Drop Lang*/

.dropbtn-lang {
   /* background-color: #4CAF50;*/
    color: white;
    padding: 10px;
    font-size: 12px;
    border: none;
	margin:0px;
	right: 0; left: auto;
}

.dropdown-lang {
    position: relative;
    display: inline-block;
	text-align: left;
	right: 0; left: auto;
}

.dropdown-lang-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999999;
	right: 0; left: auto;
}

.dropdown-lang-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	right: 0; left: auto;
}

.dropdown-lang-content a:hover {background-color: #f1f1f1}

.dropdown-lang:hover .dropdown-lang-content {
    display: block;
}

.dropdown-lang:hover .dropbtn-lang {
  /*  background-color: #3e8e41;*/
}



/* Don't let the lead text change font-size. */
.lead {
  font-size: 16px;
}

/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}

a.my-info{
  color: #111111;
  text-decoration: none;
}

a:hover.my-info {
   background:#f1f1f1;
   padding:5px;
   text-decoration: none;
   font-weight:bold;
}

.link-nmp a{
  color: #4b4b4b;
  text-decoration: none;
}

.link-nmp a:hover{
  color:#c8c6c6;
  text-decoration: none;
}

 /* Non-responsive overrides
  *
  * Utilize the following CSS to disable the responsive-ness of the container,
  * grid system, and navbar.
  */

 /* Reset the container */
 /*.container {
   width: 970px;
   max-width: none !important;
   padding:0px;
 }*/

 /* Demonstrate the grids */

 /*.col-xs-4{
   padding-top: 15px;
   padding-bottom: 15px;

   background-color: rgba(86,61,124,.15);
   border: 1px solid #ddd;
   border: 1px solid rgba(86,61,124,.2);
 }*/




.myserach{
	float: left;
	width: 100%;
	/*padding:20px;*/
	margin-right:20px;
}

/*btn bootstrap*/
.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #1a6aa4;
		border-radius: 0px;
		border: 0px;
    font-size: 11px;
}
.btn-primary:hover{
		background-color: #1785d4;
}

.btn-danger,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus {
    background-color: #e30c0c;
		border-radius: 0px;
		border: 0px;
    font-size: 11px;
}
.btn-danger:hover{
		background-color: #ff0000;
}

.btn-default,
.btn-default:active,
.btn-default:visited,
.btn-default:focus {
    background-color: #d1cece;
    border-radius: 0px;
		border: 0px;
    font-size: 11px;
}
.btn-default:hover{
		background-color: #e2dede;
}

.btn-warning,
.btn-warning:active,
.btn-warning:visited,
.btn-warning:focus {
    background-color: #d9840c;
    border-radius: 0px;
		border: 0px;
    font-size: 11px;
}
.btn-warning:hover{
		background-color: #f39a1d;
}

.btn-success,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
    background-color: #006600;
    border-radius: 0px;
		border: 0px;
    font-size: 11px;
}
.btn-success:hover{
		background-color: #017801;
}

.btn-info,
.btn-info:active,
.btn-info:visited,
.btn-info:focus {
    background-color: #4cacc9;
    border-radius: 0px;
		border: 0px;
    font-size: 11px;
}
.btn-info:hover{
		background-color: #5bc0de;
}

/*btn bootstrap*/

	#search_keyword_id
	{
		width:500px;

		padding:10px;
		font-size:12px;
	}
	/*.productSrc
	{
		position:absolute;

		display:none;
		margin-top:-1px;
		border-top:0px;
		overflow:hidden;
		border-left:1px  #CDCDCD solid;
		border-right:1px  #CDCDCD solid;
		background-color: white;
		z-index: 289;
	}
	.show_result
	{
		font-family:tahoma;
		padding:0px 5px 0px 5px;
		border-bottom:1px #CDCDCD dashed;
		font-size:11px;
		z-index: 289;
	}
	.show_result:hover
	{
		background:#e9e9e8;
		color:#000000;
		cursor:pointer;
	}*/

	.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{
		color: #333;
	    background-color: #111111;
	    border-color: #adadad;
		color:#d0d0d0;
	}

	/*Search*/
	.my-search{
		/*background-color:#111111;
		color:#d0d0d0;
		padding:13px;*/
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 4px 0px 0px 4px;
    background-color: #4d4d4d;
    color:#f8f5f0;
	}

	.my-search:hover {
	    background-color: #131212;
	    color: white;
	}

	.my-search-button{
	    padding: 5px 20px 5px 20px;
	    border: none;
	    border-radius: 0px 4px 4px 0px;
	    background: #cd0000 url("../../images/general/red-emboss.jpg");
		  color:#f8f5f0;
      font-size: 22px;
	}

  .my-search-button:hover{
    background: #111111;
  }

	.my-search-field{
		width: 100%;
		padding: 4px 5px 4px 5px;
		margin: 8px 0;
		box-sizing: border-box;
		/*background: #f2f1f1;*/
		border-top:1px solid #dddddd;
		border-bottom:1px solid #dddddd;
    border-left:0px;
	}

  .my-btn-brand{
    border: 0px;
    padding:10px;
    color:#989898;
    font-size:20px;
    background:#ffffff;
  }

  .my-btn-brand:hover{
    color:red;
    /*background:#252424;*/
    text-decoration: none;
  }


  .btn-nav-head{
  /*  border: 1px solid #716f6f;*/
    padding:5px;
    color:#111111;
    font-size:11px;
    text-decoration: none;
    margin-left:10px;
    border-bottom:0px;
  }

  .btn-nav-head:hover {
    color:#dddddd;
    /*background:#000000;*/
    text-decoration: none;
  }

  .btn-nav-red{
    color: #ff0000;
    text-decoration: none;
  }

  .btn-nav-red:hover{
    color: #9b9999;
    text-decoration: none;
  }

  .btn-nav-red:active{
    color: #9b9999;
    text-decoration: none;
  }


  .btn-nav-black{
    color: #4d4d4d;
    text-decoration: none;
  }

  .btn-nav-black:hover{
    color: #9b9999;
    text-decoration: none;
  }

  .btn-nav-black:active{
    color: #9b9999;
    text-decoration: none;
  }

  .btn-top{
  	margin: 0 auto;
  	text-align: center;
  	margin-bottom:-55px;
    margin-top:30px;
  }

  .footer{
  	background: #ffffff;
  	color:#40413e;
  	display: block;
  	margin-top: 0px;
  	font-family: arial;
  	padding: 50px 0px 0px 0px;
    border-top:5px solid #b2b2b2;
    margin-top:20px;
  }

  h3 span {
      color: #151414;
      font-size: 15px;
      line-height: 45px;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
  }

  /*SUBSCRIBE*/
  .my-sub-button{
      padding: 10px 10px;
      border: none;
      border-radius: 4px;
      background-color: #c40202;
  	  color:#ffffff;
  }

  .my-sub-field{
  	width: 100%;
      padding: 6px 18px;
      margin: 8px 0;
      box-sizing: border-box;
  	background: #f2f1f1;
  	border:0px;
  	border-radius: 4px 0px 0px 4px;
  }

  /*footer garansi*/
  /*.garansi{
    width: 100%;
  }*/
  .footer-box{
    width: 175px;
    height: 150px;
    padding-top: 10px;
    display: inline-block;
    border-right: 1px solid #f1f1f1;
  }
  .footer-box p{
    padding: 10px 10px 10px 10px;
    line-height: 14px;
    font-size: 10px;
  }
  .footer-box2{
    width: 175px;
    height: 150px;
    padding-top: 10px;
    display: inline-block;
  }
  .footer-box2 p{
    padding: 10px 10px 10px 10px;
    line-height: 14px;
    font-size: 10px;
  }
  .garansi ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      margin-top:20px;
  }

  .garansi li {
      float: left;
      display: block;
      text-align: center;
      width:220px;
      text-decoration: none;
      padding-left:10px;
      padding-right:10px;
  }


  /*footer sosmet*/
  .sos ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }

  .sos li {
      float: left;
      font-size:18px;
      background: #ff0000;
      margin-left:5px;
      margin-bottom:5px;
  }

  .sos li a {
      display: block;
      color: #ffffff;
      text-align: center;
      padding: 6px 10px;
      text-decoration: none;

  }

  .sos li a:hover {
      background-color: #c32c2c;
  }


  /*footer payment*/
  .pay ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      margin-top:0px;
  }

  .pay li {
      float: left;
      font-size:12px;
      display: block;
      text-decoration: none;
  }

  /*footer payment*/
  .ship ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      margin-top:0px;
  }

  .ship li {
      float: left;
      font-size:12px;
      display: block;
      text-decoration: none;
  }

  .btn-link,
  .btn-link:active,
  .btn-link:visited,
  .btn-link:focus {
      background-color: #1a6aa4;
  		border-radius: 0px;
  		border: 0px;

  		border:1px solid #c40202; background:#000000; padding:10px; font-size:20px; border-radius:5px; color:#ffffff;
  		text-decoration: none;
  }
  .btn-link:hover{
  		color:#c6c1c1;
  		background-color: #a40101;
  		text-decoration: none;
  }

  .copyright{
  	margin-top: 10px;
  	text-align: center;
  	color:#111111;
  	font-family: arial;
  	font-size: 14px;
  	padding:10px;
    font-weight: bold;
  }

  .my-bg-title{
  	color:#111111;
  	padding:20px 0px 20px 0px;
  	margin-bottom:0px;
  	font-size:12px;
    margin-bottom:20px;
    padding: 10px 10px 10px 0px;
    border-bottom: 1px dashed #bfbfbf;
  }

  /*.my-container-white{
  	background-color: #ffffff;
  	padding-top:20px;
  	padding-bottom:20px;
  	margin-bottom:10px;
  	border-radius:0px 0px 10px 10px;
  }*/

  .my-container-transparan{
  	padding-top:20px;
  	padding-bottom:20px;
  }

  .border-create{
  	border: 1px #dddddd solid;
  	padding:10px;
  	margin-bottom:40px;
    text-align: center;
  	background:#ffffff;
  }
  .border-create7{
    border: 1px #dddddd solid;
    padding:10px;
    margin-bottom:40px;
    text-align: left;
    background:#ffffff;
  }
  .border-create1{
    border: 1px #dddddd solid;
    padding:10px;
    height: 200px;
      text-align: center;
    margin-bottom:40px;

  }

  .border-sidebar{
    border-right: 1px solid #dddddd;
    padding:0px 20px 0px 0px;
  }

  /*Sidebar Menu*/

  .my-menu-desktop {
      margin: 0;
      padding: 0;
      width: 100%;
  }
  .my-menu-desktop ul {
    list-style: none;
    padding: 0px;
    margin:0px;
  }

  .my-menu-desktop li {
      border-bottom: 1px solid #dddddd;
      list-style: none;
      padding: 0.5em;
  }

  .my-menu-desktop li:hover {
      background: #ededef;
  }

  .my-menu-desktop li a {
      color: #565658;
      display: block;
      text-decoration: none;
  }

  .my-menu-desktop li.active {
      background: #dddddd;
  }

  .my-menu-desktop li.active a {
      color: #565658;
      font-weight: bold;
  }

  /*Drop Basket*/

.dropbtn-basket {
    font-size: 12px;
    border: none;
    cursor: pointer;
  	margin:0px;
  	right: 0; left: auto;
    background-color: #ffffff;
}

.dropdown-basket {
    position: relative;
    display: inline-block;
	right: 0; left: auto;
}

.dropdown-basket-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		padding:10px;
    z-index: 999999;
		right: 0; left: auto;
    border-radius:5px;
}

.dropdown-basket-content:after, .arrow_box:before {
	bottom: 100%;
	left: 90%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.dropdown-basket-content:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.dropdown-basket-content:before {
	border-color: rgba(153, 178, 194, 0);
	border-bottom-color: #99b2c2;
	border-width: 11px;
	margin-left: -11px;

}

/*
.dropdown-basket-content:before,
.dropdown-basket-content:after {
	content:'';
    display: inline-block;
	width:0;
	height:0;
	border:20px solid transparent;
    vertical-align: middle;
}
.dropdown-basket-content:before {
	border-top-color: #CBCBCB;
	border-bottom-color: #CBCBCB;
	border-right-color: #CBCBCB;
}
.dropdown-basket-content:after {
	border-left-color: #CBCBCB;
}*/



.dropdown-basket-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	   right: 0; left: auto;
}

.dropdown-basket-content a:hover {background-color: #1de130}

.dropdown-basket:hover .dropdown-basket-content {
    display: block;
}

.dropdown-basket:hover .dropbtn-basket {
    background-color: #ffffff;
}

/*Cart*/

.my-cart{
	border:1px #cacaca solid;
	margin:2px;
	border-radius:5px;
	padding:3px;
  background: #ffffff;
}

.my-cart a{
	color: #428bca;
	font-size:16px;
}

.my-cart a:hover{
	background: #ffffff;
	color: #afd7f9;
}

.my-cart-scroll{
		height: 250px;
	 	overflow:auto;
}

.my-total-cart{
	margin:10px 0px 10px 0px;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #111;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
	border-radius:0px;

}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 0px;
    color:#b0afaf;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}










/*s: mematikan responsive bootstrap*/

.container {
	width: 1169px !important;
}

@media (min-width: 1px) {
  .container {
    max-width: 1169px;
  }
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.333333333333332%;
  }
  .col-lg-2 {
    width: 16.666666666666664%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333333333333%;
  }
  .col-lg-5 {
    width: 41.66666666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333333333336%;
  }
  .col-lg-8 {
    width: 66.66666666666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333333333334%;
  }
  .col-lg-11 {
    width: 91.66666666666666%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-push-1 {
    left: 8.333333333333332%;
  }
  .col-lg-push-2 {
    left: 16.666666666666664%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.33333333333333%;
  }
  .col-lg-push-5 {
    left: 41.66666666666667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.333333333333336%;
  }
  .col-lg-push-8 {
    left: 66.66666666666666%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.33333333333334%;
  }
  .col-lg-push-11 {
    left: 91.66666666666666%;
  }
  .col-lg-pull-1 {
    right: 8.333333333333332%;
  }
  .col-lg-pull-2 {
    right: 16.666666666666664%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.33333333333333%;
  }
  .col-lg-pull-5 {
    right: 41.66666666666667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.333333333333336%;
  }
  .col-lg-pull-8 {
    right: 66.66666666666666%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.33333333333334%;
  }
  .col-lg-pull-11 {
    right: 91.66666666666666%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-lg-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666666666666%;
  }
}

/*e: mematikan responsive bootstrap*/
