.box-ship{
  border: 1px solid #dddddd;
  padding:20px;
  margin:10px 0px;
  color: #4a4847;
}

.box-cart{
  border: 1px solid #dddddd;
  padding:20px;
  margin:10px 0px;
  color: #4a4847;
  height: 350px;
  overflow:auto;
}

.box-ship-info-adrs{
  float:left;
  width:350px;
  height:auto;
  margin-right:5px;
}

.box-ship-info{
  float:left;
  width:177px;
  height:auto;
  margin-right:5px;
  /*text-align: center;*/

}
.box-com{
  float:left;
  padding-top:10px;
  width:540px;
  /*background:#e9e8e7;*/
}

.box-com2{
  float:right;
  padding-top:10px;
  /*width:540px;*/
  /*background:#e9e8e7;*/
}

textarea#styled {
	width: 500px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}
#box-adrs{
  background: #e9e8e7;
  height:120px;
  margin-left:0px;
}

#box-shadow{
	height: 100px;
  width:540px;
	box-shadow: 1px 1px 5px #888888;
	background-color: #fff;
	float: left;
	margin: 8px;
	padding: 10px;
  font-size: 14px;
}
.btn-add-adrs{
  background:#ff0000;
  color:#ffffff;
  padding:5px;
  font-weight: bold;
}
.btn-add-adrs:hover{
  background:#ff0000;
  text-decoration: none;
  color:#ffffff;
  font-weight: bold;
}
.checkout-button{
	float: right;
	padding: 5px;
	background-color: red;
	border-radius: 10px;
	color: white;
  font-size:15px;
  padding:10px;
}

.checkout-button:hover{
  background-color: #ca3833;
  color:#f1eeee;
}










.title-step{
    width: 200px;
    display: inline-block;
    margin-right: 0%;
    margin-top:0px;
    margin-bottom:0px;
  }
  .title-step p{
    color: red;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .title-step2{
    width: 230px;
    display: inline-block;
    margin-top:0px;
    margin-bottom:0px;
    margin-left: 160px;

  }
  .title-step2 p{
    color: #9a9c9b;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .title-step3{
    width: 250px;
    display: inline-block;
    margin-right: 0px;
    margin-left: 110px;
    margin-top:0px;
    margin-bottom:0px;
  }
  .title-step3 p{
    color: #9a9c9b;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .number{
    width: 60px;
    height: 60px;
    background-color: red;
    display: inline-block;
    border-radius: 50px;
    margin-right: 24%;
    margin-top:0px;
    margin-bottom:-500px;
  }
  .number p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
  }

  .number2{
    width: 60px;
    height: 60px;
    background-color: #9a9c9b;
    display: inline-block;
    border-radius: 50px;
    margin-left: 110px;
    margin-top:0px;
    margin-bottom:-500px;
  }
  .number2 p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
  }

  .number3{
    width: 60px;
    height: 60px;
    background-color: #9a9c9b;
    display: inline-block;
    border-radius: 50px;
    margin-right: 0px;
    margin-left: 300px;
    margin-top:0px;
    margin-bottom:-500px;
  }
  .number3 p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
  }

  .barred{
    background-color: red;
    position: absolute;
    height: 10px;
    z-index: -1;
    /*width: 40%;*/
    width: 800px;
    margin-top: -25px;
    margin-left:5px;
  }
