/*!
 * Author: Lalang Gumirang
 * Website: lalangdesign.com
 * email: lalang.gumirang@yahoo.com
 */

body {
	/*background:#ff0000;*/
	margin: 0px;
	color: #111111;
	font-family: Verdana;
	font-size: 12px;
}
/*
h1 { 
	font-family: Arial;
    display: block;
	font-size: 250%;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}*/

h3 span {
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px solid #c40202;
    font-size: 25px;
    line-height: 45px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.header{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
	text-align: center;
	text-shadow:1px 1px 0px #2e2f2f;
	color:#ffffff;
	font-size:20px;
	font-weight: bold;
}

.title_login{
	padding: 5px;
	padding-left:10px;
	/*border: 1px dashed #d2d1d1;*/
	/*background:#f2f1f1 url(../../images/general/bg_title_log_admin.jpg);*/
	background:#4fe925;
	text-shadow:1px 1px 0px #9e9e9e;
	color: #2c2b2b;
}

.form_login{
	/*border: 1px dashed #d2d1d1;*/
	padding: 10px;
	background: #ffffff;
	margin-bottom: 10px;
	text-shadow:1px 1px 0px #e6e4e4;
	color:#111111;
}

.footer{
	background: #000000;
	color:#f8f7f7;
	display: block; 
	height: 100%;
	width: 100%;
	margin-top: 20px;
	padding: 5px;
	padding: 10px;
	font-family: arial;
	padding: 50px 0px 20px 0px;
}

.btn-top{
	margin: 0 auto;
	text-align: center;
	margin-bottom:-55px;
}

.w_false{
	margin: 0 auto;
	padding: 10px;
	background: #f86d4d;
	border: 1px solid #fb390c;
	font: normal 12px arial;
	margin-bottom: 10px;
	color:#000000;

}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/*LAYOUT WEB*/
.my-header-panel{
	background-color: #c40202;
	width:100%;
	height:67px;
}

.my-header-panel-sub1{
	background-color: #3a3939;
	padding:15px;
	height:63px;
	color:#d0d0d0;
	width: 50%;
	float: left;
	
}

.my-header-panel-sub2{
	background-color: #000000;
	padding:15px;
	color:#d0d0d0;
	width: 50%;
	float: left;
}

.my-header-panel2{
	background:#f2f1f1 url(../../images/general/bg-header.png);
	height:100px;
	width: 100%;
}

.logo{ 
	float: left;
	padding:10px;
	width: 16%;
}

.myserach{ 
	float: left;
	width: 59%;
	padding:20px;
}

.myreg{
	float: left;
	width: 200px;
	padding:40px 0px 10px 0px;
	font-size:15px;
	text-align: center;
	width: 15%;
}

.mybasket{
	float: left;
	width: 200px;
	padding:30px 0px 10px 0px;
	width: 10%;
}

/*Drop Lang*/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
	margin:0px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*Drop Basket*/

.dropbtn-basket {
    background-color: #b97412;
    color: white;
    padding: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
	margin:0px;
}

.dropdown-basket {
    position: relative;
    display: inline-block;
}

.dropdown-basket-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-basket-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-basket-content a:hover {background-color: #f1f1f1}

.dropdown-basket:hover .dropdown-basket-content {
    display: block;
}

.dropdown-basket:hover .dropbtn-basket {
    background-color: #e79116;
}

/*Search*/
.my-search{
	/*background-color:#111111;
	color:#d0d0d0;
	padding:13px;*/
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #111111;
	color:#d0d0d0;
}

.my-search:hover {
    background-color: #4CAF50; 
    color: white;
}

.my-search:active {
    background-color: #4CAF50; 
    color: white;
}

.my-search:focus {
    background-color: #4CAF50; 
    color: white;
}

.my-search-button{
	/*background-color:#111111;
	color:#d0d0d0;
	padding:13px;*/
	
	
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #c40202;
	color:#d0d0d0;
}

.my-search:hover {
    background-color: #4CAF50; 
    color: white;
}

.my-search-button{
	/*background-color:#111111;
	color:#d0d0d0;
	padding:13px;*/
	
	
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #c40202;
	color:#d0d0d0;
}

.my-search-field{
	width: 100%;
    padding: 17px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	background: #f2f1f1;
	border:0px;
}

/*Link Reg & login*/

/* unvisited link */
.myreg a:link {
    color: #111111;
	text-decoration: none;
}

/* visited link */
.myreg a:visited {
	color: #111111;
	text-decoration: none;
}

/* mouse over link */
.myreg a:hover {
	background: #15c2d2;
	text-decoration: none;
	padding:10px;
	color: #ffffff;
 }

/* selected link */
.myreg a:active {
    color: #ebf66d;
	text-decoration: none;
}

/*Home Banner*/
.home-banner{
	margin: 10px;
	
}

.border-myacico{
	border-style: solid;	
	border-color: #c40202;
	border-top: 0px;
	border-bottom: 0px;
	margin:0 auto;
	width:400px;
	height:100px;
	/*background: #ebf66d;*/
	text-align: center;
	padding-top:15px;
}

.myacico-title{
	font-family: arial;
	font-size: 40px;
	padding-top:20px;
}

.myacico-title-small{
	font-style: italic;
	font-size: 20px;
}

.braind{
	margin-top:40px;
	margin-bottom:40px;
	padding:20px;
	border: 1px;
	border-style: solid;	
	border-color: #cccccc;
	border-left: 0px;
	border-right: 0px;
}

/*SUBSCRIBE*/
.my-sub-button{
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    background-color: #c40202;
	color:#d0d0d0;
}

.my-sub-field{
	width: 100%;
    padding: 9px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	background: #f2f1f1;
	border:0px;
	border-radius: 4px 0px 0px 4px;
}

.cpyright{
	margin-top: 100px;
	text-align: center;
	color:#d0d0d0;
	font-family: verdana;
	font-size: 15px;
}

/*footer sosmet*/
.sos ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sos li {
    float: left;
	font-size:25px;
}

.sos li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sos li a:hover {
    background-color: #333;
}
