#owl-demo .item{
    margin: 3px;
    /*text-align:center;*/
}
#owl-demo .item img{
    display: block;
    width: auto;
    height: 150px;

}

.promo-front .item{
    margin: 3px;
}
.promo-front .item img{
    display: block;
    width: 100%;
    height: auto;
}
